<nav style="background-color: var(--main-color)" class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="#">&nbsp&nbspVitaLab</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{%url 'gerenciar_clientes'%}">Clientes</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Exames
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{%url 'gerenciar_pedidos'%}">Gerenciar Pedidos</a></li>
              <li><a class="dropdown-item" href="{%url 'gerenciar_exames'%}">Gerenciar Exames</a></li>
              <li><a class="dropdown-item" href="{%url 'gerar_acesso_medico'%}">Gerar Acesso Médico</a></li>
            </ul>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="">Sair</a>
        </li>
      </ul>
    </div>
  </nav>